<div>
    <h2>
        <span jhiTranslate="bssuiteGatewayApp.customerCategory.home.title">Customer Categories</span>
        <button class="btn btn-primary float-right create-customer-category" [routerLink]="['/', { outlets: { popup: ['customer-category-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="bssuiteGatewayApp.customerCategory.home.createLabel">
            Create new Customer Category
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="customerCategories">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="code"><span jhiTranslate="bssuiteGatewayApp.customerCategory.code">Code</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="name"><span jhiTranslate="bssuiteGatewayApp.customerCategory.name">Name</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="tradingName"><span jhiTranslate="bssuiteGatewayApp.customerCategory.tradingName">Trading Name</span> <span class="fa fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let customerCategory of customerCategories ;trackBy: trackId">
                <td><a [routerLink]="['../customer-category', customerCategory.id ]">{{customerCategory.id}}</a></td>
                <td>{{customerCategory.code}}</td>
                <td>{{customerCategory.name}}</td>
                <td>{{customerCategory.tradingName}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../customer-category', customerCategory.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'customer-category/'+ customerCategory.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'customer-category/'+ customerCategory.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
        <div *ngIf="customerCategories && customerCategories.length">
            <div class="row justify-content-center">
                <jhi-item-count [page]="page" [total]="queryCount" [itemsPerPage]="itemsPerPage"></jhi-item-count>
            </div>
            <div class="row justify-content-center">
                <ngb-pagination [collectionSize]="totalItems" [(page)]="page" (pageChange)="loadPage(page)"></ngb-pagination>
            </div>
        </div>
</div>
